body {
	padding: 0em;
	margin: auto;
}



.column1, .column2, .column3, .column4 {
	width: 41,6em;
	text-align: center;
	background-color: #333;
}

.clear {
	clear: initial;
}

.column7 {
	width: 40%;
	height: 55%;
	text-align: center;
	background-color: #333;
	clear: right;	
}

.column6 {
	background-color: #333;
	text-align: center;
	height: 1.4em;
}

.column2 {
	background-color: #333;
	text-align: center;
	height: 1.4em;
	width: 50%;
}

p.clear {
	clear: both;
}

h1 {
	color: white;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 0.875em 1em;
	text-decoration: none;
	font-size: 1.2em;
}

ul {
	list-style-type: none;
	margin: 0em;
	padding: 0em;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%
}

li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #D02806;
}


#nav {
	background-color: #333;
	border: 0,5em;
	overflow: hidden;
	position: relative;
	top: 0em;
	width: 67,5em;
}

.right {
	float: right;
}

.left {
	float: left;
}

p {
	color: white;
	width: 41,6em;
}





@font-face{
    font-family: 'MyWebFont';
    src: url('MyWebFont.otf');
    src: url('hemi head bd it.ttf');
}

div{
    font-family: MyWebFont;
}

