body {
	padding: 0px;
	margin: auto;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 16em;
	background-color: #333;
}

li {
	display: inline;
	padding: 0.8em;
	font-size: 1.2em;
}

li a {
	display: block;
	text-decoration: none;
	color: white;
	text-align: center;
	padding: 1.2em 1.4em;
}

li a:hover {
	background-color: #555;
	color: white; 
}

.active {
	background-color: #F02E06;
	color: white;
}

#nav {
	background-color: #333;
	padding-bottom: 1.6em;
	margin: 0em;
	border-radius: 0.5em;
	overflow: hidden;
	position: fixed;
	top: 4.5em;
	width: 15em;
	float: left;
}

.column1, .column2, .column3, .column4 {
	margin: 0em;
	width: 83,2em;
	text-align: center;
	background-color: #333;
}

h1 {
	color: white;
}

@font-face{
    font-family: 'MyWebFont';
    src: url('MyWebFont.otf');
    src: url('hemi head bd it.ttf');
}

div{
    font-family: MyWebFont;
}
