body{
	text-align: center;
	margin: 0 auto;
	width: 67,5em;
}

#content{
	overflow: auto;
	height: 100%;
}

#nav, #feature, #footer{
	background-color: #333;
	margin: 0.625em;

}

#nav ul{
	display: inline-block;
	list-style-type: none;
	background-color: #333;
}


.column6 {
	width: 30%;
	float: right;
	text-align: center;
}

.column4{
	width: 45%;
	float: left;
	height: 5%;
}

.column5{
	width: 50%;
	float: left;
}

.column8{
	width: 15%;
	float: left;
	text-align: center;
}

.column3 {
	width: 30%;
	float: center;
	float: left;
}

.column1{
	width: 100%;
	text-align: left;
}

.column2{
	width: 15%;
	float: left;
	text-align: left;
}

.column10{
	width: 45%;
	float: left;
	text-align: left;
}


ul{
	color: white;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li{
	color: white;
	float: left;
	background-color: #333;
	font-size: 120%;
	border-bottom: 1px solid #494a5a;
}

.lettertype{
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 1.4em 1.4em;
	text-decoration: none;
	background-color: #333;
}

li a:hover{
	background-color: #111;
}

p{
	color: white;
	font-size: 120%;
}

h2{
	color: white;
	font-size: 175%;
}

h1 {
	color: white;
}

.active{
	background-color: #111;
}

@font-face{
    font-family: 'MyWebFont';
    src: url('MyWebFont.otf');
    src: url('hemi head bd it.ttf');
}

div{
    font-family: MyWebFont;
}

.footer{
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
	background-color: #7B7270;
	padding: 0.625em;
	margin: 0em;
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width:80%;
  }
  .right {
    width:100%;
  }
}

@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}