body{
	text-align: center;
	margin: 0 auto;
	width: 67,5em;
}

#content{
	overflow: auto;
	height: 100%;
}

#nav, #feature, #footer{
	background-color: #7B7270;
	margin: 0.625em;

}

.column4, .column5, .column6 {
	width: 48%;
	float: left;
	margin: 0.625em;
	text-align: center;
}

.column3 {
	width: 60%;
	float: center;
	float: left;
}

.column1{
	width: 100%;
	text-align: left;
}

.column2{
	width: 48%;
	text-align: left;
}


ul{
	color: white;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li{
	color: white;
	float: left;
	font-size: 150%;
}

.lettertype{
    font-size: 175%;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 1.4em 1.4em;
	text-decoration: none;
}

li a:hover{
	background-color: #111;
}

p{
	color: white;
	font-size: 120%;
}

h2{
	color: white;
	font-size: 175%;
}

.active{
	background-color: #111;
}

@font-face{
    font-family: 'MyWebFont';
    src: url('MyWebFont.otf');
    src: url('hemi head bd it.ttf');
}

div{
    font-family: MyWebFont;
}

.footer{
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
	background-color: #7B7270;
	padding: 0.625em;
	margin: 0.625em;
}
